.product-detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-detail .thumbnail-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.product-detail .main-image {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Căn trên cùng */
}
